
    <div class="card text-bg-dark">
        <img src="https://keivan.io/content/images/2020/05/appget-cityscape-4.jpeg" 
             class="img-fluid" alt="auto">
        <div class="card-img-overlay">
            <div class="text-bg-light text-center p-12 bg-white">
                <h1 style="font-size: 50px;">One Page Wonder</h1>
            </div>
            <div class="text-bg-light text-center p-12 bg-white">
                <h2 style="font-size: 30px;">Will Knock Your Socks Off</h2>
            </div>
            
        </div>
    </div>
    <hr>
